.DS_Store
*.alfdb
Alfred/prefs.json
Alfred/usage.data
config/nvim/plugged/AutoComplPop/
vscode/extensions/ms-python.python-2022.4.1/pythonFiles/
vscode/
Alfred/powerpack*
Alfred/Alfred.alfredpreferences/snippets/
Alfred/Alfred.alfredpreferences/snippets/
