[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = despresj
	email = 54477023+despresj@users.noreply.github.com 
[pull]
	ff = only
[alias]
	l = log -n 10
[core]
	editor = nvim
[init]
	defaultBranch = main
[core]
	editor = nvim
[log]
  date = relative
[format]
  pretty = format:%h %Cblue%ad%Creset %an %Cgreen%s%Creset
