<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0925D5FE-9431-457E-B6CA-7B99A71751AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43D2599B-89B6-43BF-A413-9C88D2093F1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1341F8D8-90F1-4C6D-A242-445020C30E08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CC0F4E5-74CC-4821-AD87-5D70C2B71B03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1522A1C8-7B59-4248-9706-539E7D1308D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC38A901-E6BC-4816-8272-E00422546B63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>158FD215-D1BC-4AAC-AABF-32BF91CED0E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1341F8D8-90F1-4C6D-A242-445020C30E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>250F75C8-B62B-44E1-9392-BC865E1FC128</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>88B779AB-71EB-4101-B431-F734D2B78767</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A232640-8078-4818-8A62-742B15C8F5ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E664C6B3-8105-4877-89A4-9E011B4D3290</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4CC0F4E5-74CC-4821-AD87-5D70C2B71B03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>409C8BCD-D97B-4CE5-B880-DE961477D54B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B18971B-AFA8-4012-A823-1199FE50461D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4A232640-8078-4818-8A62-742B15C8F5ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9484CBFB-A8BC-4BC5-9F19-0279FDD7ABFC</key>
		<array/>
		<key>AB88AA2E-5802-4B77-8B68-AF5F1F9A6FF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8F4EF35-7452-4CED-AA87-F991C5F12DAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B48B2A95-9CA1-4068-8989-C1992C500961</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BE9E6FB3-FA31-4CF8-87E9-42361F18BB8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5E5CF56-63E5-43C6-A517-16669ADC7723</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9484CBFB-A8BC-4BC5-9F19-0279FDD7ABFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8F4EF35-7452-4CED-AA87-F991C5F12DAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4843CCF2-C362-45F8-BF00-1D9FACDBC9A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F194AD37-2B55-4123-90F2-9246C1C10B4A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9484CBFB-A8BC-4BC5-9F19-0279FDD7ABFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Workflows for operating</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sytem</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>13</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>W</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8B18971B-AFA8-4012-A823-1199FE50461D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sudo pmset -a lidwake 1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4A232640-8078-4818-8A62-742B15C8F5ED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>E664C6B3-8105-4877-89A4-9E011B4D3290</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>6</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>Z</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>AB88AA2E-5802-4B77-8B68-AF5F1F9A6FF0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>sudo pmset -a lidwake 0</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E8F4EF35-7452-4CED-AA87-F991C5F12DAD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>4843CCF2-C362-45F8-BF00-1D9FACDBC9A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>meditate</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Meditate for 10 Minutes</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>250F75C8-B62B-44E1-9392-BC865E1FC128</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>Say  "starting 10 minute meditation"
sleep 600
afplay /Users/josephdespres/Downloads/med.m4a</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>88B779AB-71EB-4101-B431-F734D2B78767</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>5</integer>
				<key>confirm</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>409C8BCD-D97B-4CE5-B880-DE961477D54B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>9</integer>
				<key>confirm</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemcommand</string>
			<key>uid</key>
			<string>1341F8D8-90F1-4C6D-A242-445020C30E08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>quit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Quit all Apps and Sleep</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>158FD215-D1BC-4AAC-AABF-32BF91CED0E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>4CC0F4E5-74CC-4821-AD87-5D70C2B71B03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>three</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>three screens</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C5E5CF56-63E5-43C6-A517-16669ADC7723</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>displayplacer "id:4744F16A-59B9-DEC1-B523-A2F968C01DD9 res:1440x2560 hz:30 color_depth:8 scaling:on origin:(0,0) degree:270" "id:D193F959-C105-9083-F82C-7485EE2ABC7C res:1792x1120 hz:59 color_depth:4 scaling:on origin:(-3232,1408) degree:0" "id:5D42555F-AF83-A197-46B7-9930E4790CA5 res:1440x2560 hz:30 color_depth:8 scaling:on origin:(-1440,0) degree:270"

#https://superuser.com/questions/1105308/mac-3-monitor-setup-my-desktop-set-keep-switching-places-between-monitors</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>9484CBFB-A8BC-4BC5-9F19-0279FDD7ABFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cd</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>USE THE TERMINAL</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B48B2A95-9CA1-4068-8989-C1992C500961</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Funk</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>BE9E6FB3-FA31-4CF8-87E9-42361F18BB8B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F194AD37-2B55-4123-90F2-9246C1C10B4A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0925D5FE-9431-457E-B6CA-7B99A71751AE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>displayplacer "id:4744F16A-59B9-DEC1-B523-A2F968C01DD9+D193F959-C105-9083-F82C-7485EE2ABC7C res:2048x1152 hz:30 color_depth:8 scaling:on origin:(0,0) degree:0"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>43D2599B-89B6-43BF-A413-9C88D2093F1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>br</string>
				<key>subtext</key>
				<string>Search Without Them Seeing</string>
				<key>text</key>
				<string>Brave Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1522A1C8-7B59-4248-9706-539E7D1308D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.brave.Browser</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://search.brave.com/search?q={query}&amp;source=web</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FC38A901-E6BC-4816-8272-E00422546B63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0925D5FE-9431-457E-B6CA-7B99A71751AE</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>680</integer>
		</dict>
		<key>1341F8D8-90F1-4C6D-A242-445020C30E08</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>1522A1C8-7B59-4248-9706-539E7D1308D8</key>
		<dict>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
		<key>158FD215-D1BC-4AAC-AABF-32BF91CED0E1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>250F75C8-B62B-44E1-9392-BC865E1FC128</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>409C8BCD-D97B-4CE5-B880-DE961477D54B</key>
		<dict>
			<key>xpos</key>
			<integer>475</integer>
			<key>ypos</key>
			<integer>405</integer>
		</dict>
		<key>43D2599B-89B6-43BF-A413-9C88D2093F1D</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>690</integer>
		</dict>
		<key>4843CCF2-C362-45F8-BF00-1D9FACDBC9A4</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>4A232640-8078-4818-8A62-742B15C8F5ED</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>4CC0F4E5-74CC-4821-AD87-5D70C2B71B03</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>435</integer>
		</dict>
		<key>88B779AB-71EB-4101-B431-F734D2B78767</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>8B18971B-AFA8-4012-A823-1199FE50461D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>9484CBFB-A8BC-4BC5-9F19-0279FDD7ABFC</key>
		<dict>
			<key>xpos</key>
			<integer>195</integer>
			<key>ypos</key>
			<integer>525</integer>
		</dict>
		<key>AB88AA2E-5802-4B77-8B68-AF5F1F9A6FF0</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>B48B2A95-9CA1-4068-8989-C1992C500961</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>BE9E6FB3-FA31-4CF8-87E9-42361F18BB8B</key>
		<dict>
			<key>xpos</key>
			<integer>705</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>C5E5CF56-63E5-43C6-A517-16669ADC7723</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>E664C6B3-8105-4877-89A4-9E011B4D3290</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E8F4EF35-7452-4CED-AA87-F991C5F12DAD</key>
		<dict>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>F194AD37-2B55-4123-90F2-9246C1C10B4A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>FC38A901-E6BC-4816-8272-E00422546B63</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>765</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
