<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>01DC7D37-81A3-4464-8769-A79DE6D7AE17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>598530A2-479C-47E4-BF52-3A786ED59EB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>138427B8-67E6-40FA-B30F-56FE95B14FD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C34E11C1-FBC8-43BE-81B6-4B844CFE89FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1E6FD8AB-D713-41BA-B063-E3FA5D230D08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA62306D-EF4B-41D0-B4F2-ACB5B7615BC5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>313C6AF8-57AB-4F2D-9725-7D361DE221EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD58E316-6726-4D92-A761-BF1DFECD43D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>586DC4E7-05E2-4539-8B97-59B981695A8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0475870-4C82-4AB6-9E07-446AC5268C6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C6F22BF-1DFA-4392-9592-FD0F8D4D81EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78C86C08-5CBD-45EB-B6AC-BE3F7AD50F48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>744D1F9C-431F-409F-A979-C4A63346EA08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68481442-FD34-4964-9B2D-47C3FD51FC08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78C86C08-5CBD-45EB-B6AC-BE3F7AD50F48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFFE4ACB-6E00-460A-9369-5020B043A96D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79FEB92B-8DB5-425B-9A58-B64AE4EE8E68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED9EE698-8C65-48D3-BD8A-BAC1CB4C50E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A9F9AC3-D7C2-4DA9-8425-1159639EC274</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>313C6AF8-57AB-4F2D-9725-7D361DE221EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>857F9F5C-FADC-48FB-ABE1-9ABFBAAABB15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92981FDD-EC8E-44C2-863A-F8F0CA704A1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C599BC6-4535-4DDD-A839-F9D85B85BFBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79FEB92B-8DB5-425B-9A58-B64AE4EE8E68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92981FDD-EC8E-44C2-863A-F8F0CA704A1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D966A5F6-EC70-45CA-BB01-A30669FE8CEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9875855A-3AB0-4DE1-9963-B29957175A16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>586DC4E7-05E2-4539-8B97-59B981695A8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C1794EE-5070-48A1-8582-00B037F14186</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E6FD8AB-D713-41BA-B063-E3FA5D230D08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C34E11C1-FBC8-43BE-81B6-4B844CFE89FB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>857F9F5C-FADC-48FB-ABE1-9ABFBAAABB15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA62306D-EF4B-41D0-B4F2-ACB5B7615BC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>744D1F9C-431F-409F-A979-C4A63346EA08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC9ECBDC-E151-4306-89E9-B2AB89FCE5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C1794EE-5070-48A1-8582-00B037F14186</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7157491-C290-41B4-BCB6-C220E59AA5E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>023D09F2-7FFA-437B-9BD5-7B6A6A3275D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D966A5F6-EC70-45CA-BB01-A30669FE8CEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49AF5B55-53B0-4D47-B915-6842EE112DEB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED9EE698-8C65-48D3-BD8A-BAC1CB4C50E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C6F22BF-1DFA-4392-9592-FD0F8D4D81EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6FFB51F-D83F-4B8F-AF40-9DFE8A563946</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F74638D6-FB27-489A-92F8-2580D9CDA740</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>MSU Zoom Classes</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>killall Google\ Chrome
exit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CFFE4ACB-6E00-460A-9369-5020B043A96D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/zoom.us.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>ED9EE698-8C65-48D3-BD8A-BAC1CB4C50E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>probab</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C6F22BF-1DFA-4392-9592-FD0F8D4D81EF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zoomstt888</string>
				<key>subtext</key>
				<string>Stochastic Models in Finance</string>
				<key>text</key>
				<string>zoom STT 888</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8C599BC6-4535-4DDD-A839-F9D85B85BFBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://msu.zoom.us/my/frederi</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>79FEB92B-8DB5-425B-9A58-B64AE4EE8E68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>78C86C08-5CBD-45EB-B6AC-BE3F7AD50F48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Documents/MSU/STT-888-Stochastic-Models-In-Finance/STT888-Syllabus SS2022.pdf</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>F74638D6-FB27-489A-92F8-2580D9CDA740</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>syllabusstt888</string>
				<key>subtext</key>
				<string>Launch Course Syllabus</string>
				<key>text</key>
				<string>Syllabus STT 888</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F6FFB51F-D83F-4B8F-AF40-9DFE8A563946</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/zoom.us.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>857F9F5C-FADC-48FB-ABE1-9ABFBAAABB15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>killall Google\ Chrome
exit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>49AF5B55-53B0-4D47-B915-6842EE112DEB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>975880</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>92981FDD-EC8E-44C2-863A-F8F0CA704A1C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zoomcse847</string>
				<key>subtext</key>
				<string>Machine Learning</string>
				<key>text</key>
				<string>zoom CSE 847</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>138427B8-67E6-40FA-B30F-56FE95B14FD1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://msu.zoom.us/j/92314346832</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C34E11C1-FBC8-43BE-81B6-4B844CFE89FB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>D966A5F6-EC70-45CA-BB01-A30669FE8CEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>syllabuscse847</string>
				<key>subtext</key>
				<string>Launch Course Syllabus</string>
				<key>text</key>
				<string>Syllabus CSE 847</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>01DC7D37-81A3-4464-8769-A79DE6D7AE17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/jiayuzhou/CSE847/blob/master/syllabus/Syllabus-2022Spring.md</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>598530A2-479C-47E4-BF52-3A786ED59EB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>killall Google\ Chrome
exit</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>68481442-FD34-4964-9B2D-47C3FD51FC08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/zoom.us.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>1E6FD8AB-D713-41BA-B063-E3FA5D230D08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>489286</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CA62306D-EF4B-41D0-B4F2-ACB5B7615BC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://msu.zoom.us/j/93585404913</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9C1794EE-5070-48A1-8582-00B037F14186</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>zoomece884</string>
				<key>subtext</key>
				<string>Deep Learning
 Deep Learning
 Deep Learning
Deep Learning</string>
				<key>text</key>
				<string>zoom ECE 884</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC9ECBDC-E151-4306-89E9-B2AB89FCE5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>744D1F9C-431F-409F-A979-C4A63346EA08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>~/Documents/MSU/ECE-884-Deep-Learning/MSU ECE884 2022 - Syllabus &amp; Schedule.pdf</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>023D09F2-7FFA-437B-9BD5-7B6A6A3275D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>syllabuscse884</string>
				<key>subtext</key>
				<string>Launch Course Syllabus</string>
				<key>text</key>
				<string>Syllabus ECE 884</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7157491-C290-41B4-BCB6-C220E59AA5E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>E0475870-4C82-4AB6-9E07-446AC5268C6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>cited</string>
				<key>subtext</key>
				<string>Deep Learning Project</string>
				<key>text</key>
				<string>Append Copied Citation to ECE Project</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9875855A-3AB0-4DE1-9963-B29957175A16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>/Users/josephdespres/Documents/MSU/ECE-884-Deep-Learning/ece_colab/MSU-LaTeX-Templates/MSU Poster Template/references.bib</string>
				<key>filetext</key>
				<string>
{clipboard}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>586DC4E7-05E2-4539-8B97-59B981695A8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>CD58E316-6726-4D92-A761-BF1DFECD43D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>citec</string>
				<key>subtext</key>
				<string>Machine Learning Project</string>
				<key>text</key>
				<string>Append Copied Citation to CSE Project</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A9F9AC3-D7C2-4DA9-8425-1159639EC274</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>/Users/josephdespres/Documents/MSU/CSE-847-Machine-Learning/project_cse/probabilistic_programming/docs/latex_files/References.bib</string>
				<key>filetext</key>
				<string>
{clipboard}
</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>313C6AF8-57AB-4F2D-9725-7D361DE221EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>01DC7D37-81A3-4464-8769-A79DE6D7AE17</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>023D09F2-7FFA-437B-9BD5-7B6A6A3275D3</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>138427B8-67E6-40FA-B30F-56FE95B14FD1</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>1E6FD8AB-D713-41BA-B063-E3FA5D230D08</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>313C6AF8-57AB-4F2D-9725-7D361DE221EC</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>49AF5B55-53B0-4D47-B915-6842EE112DEB</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>586DC4E7-05E2-4539-8B97-59B981695A8D</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>598530A2-479C-47E4-BF52-3A786ED59EB0</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>68481442-FD34-4964-9B2D-47C3FD51FC08</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>6C6F22BF-1DFA-4392-9592-FD0F8D4D81EF</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>744D1F9C-431F-409F-A979-C4A63346EA08</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>78C86C08-5CBD-45EB-B6AC-BE3F7AD50F48</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>79FEB92B-8DB5-425B-9A58-B64AE4EE8E68</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>7A9F9AC3-D7C2-4DA9-8425-1159639EC274</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>857F9F5C-FADC-48FB-ABE1-9ABFBAAABB15</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>8C599BC6-4535-4DDD-A839-F9D85B85BFBC</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>92981FDD-EC8E-44C2-863A-F8F0CA704A1C</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>9875855A-3AB0-4DE1-9963-B29957175A16</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>9C1794EE-5070-48A1-8582-00B037F14186</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>C34E11C1-FBC8-43BE-81B6-4B844CFE89FB</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>CA62306D-EF4B-41D0-B4F2-ACB5B7615BC5</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
		<key>CC9ECBDC-E151-4306-89E9-B2AB89FCE5EE</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>495</integer>
		</dict>
		<key>CD58E316-6726-4D92-A761-BF1DFECD43D6</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>870</integer>
		</dict>
		<key>CFFE4ACB-6E00-460A-9369-5020B043A96D</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>D7157491-C290-41B4-BCB6-C220E59AA5E2</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>615</integer>
		</dict>
		<key>D966A5F6-EC70-45CA-BB01-A30669FE8CEC</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>E0475870-4C82-4AB6-9E07-446AC5268C6B</key>
		<dict>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>740</integer>
		</dict>
		<key>ED9EE698-8C65-48D3-BD8A-BAC1CB4C50E9</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>F6FFB51F-D83F-4B8F-AF40-9DFE8A563946</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>F74638D6-FB27-489A-92F8-2580D9CDA740</key>
		<dict>
			<key>xpos</key>
			<integer>155</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
