<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A4MLM2IwNmI5YTYxOTYxGm3L3zmiSmef0YpRpNZ3GDzvxXQsURSFNaN1RCbCxA38tsFSfw0VJgWdldcnhpylSykrLX9OHPRNefYrW8x0bUf3fpO7bn5QdwgW7Fit0lc5NfbHKCL+S36QoD3JHAJUNcmTh6e8xobrGLrIkyoSYmwChPdBUiqPPWe6xP12gBjSf2HsnBJ6</string>
	<key>email</key>
	<string>jdespres1020@yahoo.com</string>
	<key>hash</key>
	<string>EJ1XZEfXTdhj5d2uU96q8UIO1z7/xYh9GZyi8P/zWy3IflKkyBocD0pJbeopbnfwLX1sHTaV6ebZ6EOxAGAzcmpYb4cFyBOOKSh77Mw6nLvidGc1/PxsYUCDZSmixm2ZdMhLzaAoNmufOIzzLWiYaRJ8UnC/Eay0kRf7aa18LCSo4bX2poqu</string>
</dict>
</plist>
