<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2E995075-9D28-4965-BB27-7FDCC4DA98FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C048BDD-213F-43E5-B974-62C6FDE21DFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4E6BE2D-894F-44BD-8CD3-E606BCAAFD2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACC74701-13AD-4054-B6F4-5DEC4DE23FB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDF180DC-7470-4C78-89C5-E02F1084CEBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0061BE12-221D-49A4-94A7-98293816C900</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Google Colab</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Colab</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>colabscratch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Colab Scratch</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C4E6BE2D-894F-44BD-8CD3-E606BCAAFD2A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://colab.research.google.com/notebooks/empty.ipynb</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>ACC74701-13AD-4054-B6F4-5DEC4DE23FB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>colabhome</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Colab Home</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2E995075-9D28-4965-BB27-7FDCC4DA98FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/drive/search?q=owner:me%20(type:application/vnd.google.colaboratory%20||%20type:application/vnd.google.colab)</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2C048BDD-213F-43E5-B974-62C6FDE21DFE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>colabece</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Colab ECE Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EDF180DC-7470-4C78-89C5-E02F1084CEBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://drive.google.com/drive/folders/1v3XEtja910Epw08Z8FQnXv83WbnTenZi</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0061BE12-221D-49A4-94A7-98293816C900</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0061BE12-221D-49A4-94A7-98293816C900</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>2C048BDD-213F-43E5-B974-62C6FDE21DFE</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>2E995075-9D28-4965-BB27-7FDCC4DA98FD</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>125</integer>
		</dict>
		<key>ACC74701-13AD-4054-B6F4-5DEC4DE23FB8</key>
		<dict>
			<key>xpos</key>
			<integer>345</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C4E6BE2D-894F-44BD-8CD3-E606BCAAFD2A</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>EDF180DC-7470-4C78-89C5-E02F1084CEBA</key>
		<dict>
			<key>xpos</key>
			<integer>145</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
