<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>023CB597-CA77-4935-968A-969569282A14</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>scanner</string>
			<key>text</key>
			<string>Scanner</string>
			<key>url</key>
			<string>http://192.168.1.3/#hId-pgWebScan</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>029A9229-326D-4F1A-872A-FCEFAF359DE9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>symbolab</string>
			<key>text</key>
			<string>symbolab</string>
			<key>url</key>
			<string>https://www.symbolab.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1F8444C2-A1D8-450B-B23C-9EAABDA1D627</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>google calendar</string>
			<key>text</key>
			<string>Google Calendar</string>
			<key>url</key>
			<string>https://calendar.google.com/calendar/u/0/r</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>25F7CCFA-FEE5-410F-A16E-0216709356CB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bjj</string>
			<key>text</key>
			<string>BJJ</string>
			<key>url</key>
			<string>https://magicbjj.sites.zenplanner.com/login.cfm</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>28B45C95-B64B-4286-A79F-E63689A7952C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>dykes'</string>
			<key>text</key>
			<string>Dykes' Activities</string>
			<key>url</key>
			<string>https://github.com/orgs/sta518/teams/s01-green/repositories</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>2D997F3C-EA44-403A-9A0B-98381138846F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>d2l</string>
			<key>text</key>
			<string>D2L</string>
			<key>url</key>
			<string>https://d2l.msu.edu/d2l/home</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>384F4324-7979-4F39-93A0-4759755BC38E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>statcomp</string>
			<key>text</key>
			<string>statcomp repo</string>
			<key>url</key>
			<string>https://github.com/gdlc/STAT_COMP</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>40FB0D6E-FBEC-4B47-A30C-58B1BE344840</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>python</string>
			<key>text</key>
			<string>python tutor</string>
			<key>url</key>
			<string>http://pythontutor.com/visualize.html#mode=edit</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>41543CDE-C6AB-4C63-9EA0-DBBEF95085C3</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>printer</string>
			<key>text</key>
			<string>printer</string>
			<key>url</key>
			<string>http://192.168.1.2/#hId-pgWebScan</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>441AA719-922C-47B6-B376-01C3AD2F91B0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>handshake</string>
			<key>text</key>
			<string>handshake MSU</string>
			<key>url</key>
			<string>https://msu.joinhandshake.com/postings?page=1&amp;per_page=25&amp;sort_direction=desc&amp;sort_column=default&amp;locations%5B%5D%5Blabel%5D=Lansing%2C%20Michigan%2C%20United%20States&amp;locations%5B%5D%5Bname%5D=Lansing%2C%20Michigan%2C%20United%20States&amp;locations%5B%5D%5Bdistance%5D=20mi&amp;locations%5B%5D%5Bpoint%5D=42.7338%2C%20-84.5554&amp;locations%5B%5D%5Blatitude%5D=42.7338&amp;locations%5B%5D%5Blongitude%5D=-84.5554&amp;query=statistics</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4CF0E203-8BC2-4A0D-8C1C-B184D9F4B97E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>linkedin</string>
			<key>text</key>
			<string>LinkedIn</string>
			<key>url</key>
			<string>https://www.linkedin.com/feed/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5C46859E-BF55-42A8-8AD9-68593D368391</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>typing</string>
			<key>text</key>
			<string>Typing Test</string>
			<key>url</key>
			<string>https://www.typingtest.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>629ECB05-46CF-4B2A-8F67-F9DA24936FB7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>github</string>
			<key>url</key>
			<string>https://github.com/despresj</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>69503DBA-0D62-4F45-83C9-3972664DDCD7</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gray</string>
			<key>text</key>
			<string>Gray Mirror</string>
			<key>url</key>
			<string>https://graymirror.substack.com/?sort=new</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8287003D-1CC7-418E-BBD7-D027A79643C0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ergo</string>
			<key>text</key>
			<string>Ergodox Setting</string>
			<key>url</key>
			<string>https://configure.zsa.io/ergodox-ez/layouts/GW9OM/latest/0</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>850CF998-B453-4F27-BB1E-EE232D29B9AC</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>indeed</string>
			<key>text</key>
			<string>Summer Statistics Internship</string>
			<key>url</key>
			<string>https://www.indeed.com/jobs?q=Summer+Statistic+Internship&amp;l=Michigan</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>9C005B12-9655-468C-BE68-D3086AD1A164</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stack overflow</string>
			<key>text</key>
			<string>StackOverflow</string>
			<key>url</key>
			<string>https://stackoverflow.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A2BAA7AF-4E03-4463-99D0-BF8FFEA28937</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>groupme</string>
			<key>text</key>
			<string>groupme</string>
			<key>url</key>
			<string>https://web.groupme.com/chats</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A322EDE3-9EE6-4168-9D98-C6BDC7366258</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>grammarly</string>
			<key>text</key>
			<string>Grammarly</string>
			<key>url</key>
			<string>https://app.grammarly.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>AEFC5BB9-F2AB-4223-8947-F8E8EB421BB8</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>meditate timer</string>
			<key>text</key>
			<string>meditate timer</string>
			<key>url</key>
			<string>https://www.online-timer.net</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>BE99F5C8-26D8-4C9D-90F8-DADD58F8D5A6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>youtube</string>
			<key>text</key>
			<string>Youtube</string>
			<key>url</key>
			<string>https://www.youtube.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C6F07910-6809-43F1-BA4C-015B6FF1F809</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>twitter</string>
			<key>text</key>
			<string>twitter</string>
			<key>url</key>
			<string>https://twitter.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CE426646-C43F-4A9E-9B46-58864C54CA80</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>facebook</string>
			<key>text</key>
			<string>facebook</string>
			<key>url</key>
			<string>https://www.facebook.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>D6D24E6B-8B22-4F01-B14A-4482A7AA6A1C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>codewars</string>
			<key>text</key>
			<string>Code Wars</string>
			<key>url</key>
			<string>https://www.codewars.com/kata/search/my-languages?q=&amp;r[]=-6&amp;xids=completed&amp;beta=false&amp;order_by=total_completed%20desc</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E41C4A7E-CE9F-44C4-9D7A-2646F526739E</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>hackerrank</string>
			<key>text</key>
			<string>Hacker Rank</string>
			<key>url</key>
			<string>https://www.hackerrank.com/dashboard</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F33A3E02-B32C-46B0-8A8B-DA115C5368B5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cigarettes after sex</string>
			<key>text</key>
			<string>Cigarettes After Sex</string>
			<key>url</key>
			<string>https://www.youtube.com/watch?v=5yQMHRgJSBY&amp;t=1s</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
