<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0FC578C2-509A-4E6D-B1B4-9DE4306B193B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77A3390B-720A-4A4E-A266-2D48CC2D12D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2B5CAC89-0B95-4221-9858-813E89FAF498</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>732ABE5D-6525-4992-AB53-1AB806FED1E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4235259C-B34A-431A-859B-4379553AFFF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>544BCC40-31EF-4267-B78C-FB4A90C4D9E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4385813A-8A03-4C1A-888A-F3207AF7D379</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77C5A4D3-EEC1-4D5D-8AA7-FB9FF6FAA0B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C814917-922C-4483-BFE1-1815D33608FF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F9F3B98-C595-4EFD-BC09-442323235D6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53A739ED-763F-45AA-81EA-91CC4C43163E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D5C3ADD-5F11-497F-B4D3-7241B7DA6BE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58CAB7A5-E0B0-4437-A72E-012059A6039B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FD79F961-2CB8-414F-B1C5-0BEDB2711517</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62FC6EE2-2034-4774-A372-594093FD23BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4715ECA2-9B58-4C19-A109-861DB7BC2BA0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A4AA4C4-7169-4286-A133-AFCC36FDD6CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AD2F5F14-CABC-4F90-864C-E1D96FBC455B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>942DD25E-1BFF-4B1C-A952-B062C8BE931C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E519079-0AAF-4B0E-81BB-03FDC65C5DBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B07E609-5778-4F79-944A-BB0A7EC621B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A7B732B-86A2-43D7-B677-450019E2F1CB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D4BC9AB-116F-4854-A2F8-09CD473584F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D1C1F89-3AD9-4302-8483-4FDB169CEA11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B15BF78D-630F-4BC3-B0C9-2E8F0CF736B7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A72CC4B3-8673-4807-B48B-DBE1B9E03A47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46E790BD-81FA-4700-9440-D4857B50F998</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B15BF78D-630F-4BC3-B0C9-2E8F0CF736B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3EC58FE-7AC0-4FBB-93A4-6A2E5E4EAB29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC3E1943-3372-400F-B14C-C1B3AD1121CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53A739ED-763F-45AA-81EA-91CC4C43163E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D84CF7AD-AAA3-4A72-8B2B-5B488DFCAC37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2E98C47-73D1-4263-B547-C72F1260CE3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EEA6F57C-38A5-4C3C-8E57-6326CF3F6A2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C814917-922C-4483-BFE1-1815D33608FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ATBSWP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>8F9F3B98-C595-4EFD-BC09-442323235D6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/codetomdfn.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4C814917-922C-4483-BFE1-1815D33608FF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>updatecode.md</string>
				<key>subtext</key>
				<string>updateCode.md</string>
				<key>text</key>
				<string>update</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EEA6F57C-38A5-4C3C-8E57-6326CF3F6A2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>automate the boring stuff with python</string>
				<key>subtext</key>
				<string>Open E-book and VScode</string>
				<key>text</key>
				<string>Automate the Boring Stuff with Python</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9B07E609-5778-4F79-944A-BB0A7EC621B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8A7B732B-86A2-43D7-B677-450019E2F1CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://automatetheboringstuff.com/#toc</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4D4BC9AB-116F-4854-A2F8-09CD473584F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>remove</string>
				<key>subtext</key>
				<string>from STT864 book to notes</string>
				<key>text</key>
				<string>Remove '&gt;' from copied text</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4235259C-B34A-431A-859B-4379553AFFF2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/bulletPointAdder.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>544BCC40-31EF-4267-B78C-FB4A90C4D9E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extract phone and email</string>
				<key>subtext</key>
				<string>From text on clipboard</string>
				<key>text</key>
				<string>Extract Phone and Email</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A4AA4C4-7169-4286-A133-AFCC36FDD6CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/phoneAndEmail.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AD2F5F14-CABC-4F90-864C-E1D96FBC455B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extract phone number</string>
				<key>subtext</key>
				<string>From text on clipboard</string>
				<key>text</key>
				<string>Extract Phone Number</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2B5CAC89-0B95-4221-9858-813E89FAF498</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/USPhoneExtract.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>732ABE5D-6525-4992-AB53-1AB806FED1E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>move journals</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>move journals to archives</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>62FC6EE2-2034-4774-A372-594093FD23BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Documents/Python/automate_the_boringstuff/move_journals.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4715ECA2-9B58-4C19-A109-861DB7BC2BA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>extract email</string>
				<key>subtext</key>
				<string>From text on clipboard</string>
				<key>text</key>
				<string>Extract Email</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>942DD25E-1BFF-4B1C-A952-B062C8BE931C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/emailExtractor.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E519079-0AAF-4B0E-81BB-03FDC65C5DBD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>generate</string>
				<key>subtext</key>
				<string>and copy to clipboard</string>
				<key>text</key>
				<string>Generate a Random Password</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FC578C2-509A-4E6D-B1B4-9DE4306B193B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Documents/Python/automate_the_boringstuff/password_generator.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77A3390B-720A-4A4E-A266-2D48CC2D12D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>machine</string>
				<key>subtext</key>
				<string>Open jupyter notebooks</string>
				<key>text</key>
				<string>Machine Learning Routine</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9D1C1F89-3AD9-4302-8483-4FDB169CEA11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/ageron/handson-ml2</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F3EC58FE-7AC0-4FBB-93A4-6A2E5E4EAB29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd /Users/josephdespres/Documents/Python/handsonML

jupyter notebook</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B15BF78D-630F-4BC3-B0C9-2E8F0CF736B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>email</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate a Fake E-mail</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A72CC4B3-8673-4807-B48B-DBE1B9E03A47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/emailFakeGen.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>46E790BD-81FA-4700-9440-D4857B50F998</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Documents/Python/automate_the_boringstuff/password_generator_ret.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>77C5A4D3-EEC1-4D5D-8AA7-FB9FF6FAA0B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>retreve key</string>
				<key>subtext</key>
				<string>and copy to clipboard</string>
				<key>text</key>
				<string>Retrieve generated password</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4385813A-8A03-4C1A-888A-F3207AF7D379</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>conda deactivate

open /Users/josephdespres/Documents/2022_career_exploration/applications/{query}/{query}_resume.docx

open /Users/josephdespres/Documents/2022_career_exploration/applications/{query}/{query}_cover.docx
</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>1D5C3ADD-5F11-497F-B4D3-7241B7DA6BE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>conda deactivate

/usr/bin/python3 /Users/josephdespres/Documents/2022_career_exploration/automating_scripts/test.py {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>53A739ED-763F-45AA-81EA-91CC4C43163E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>job</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Generate Resume and Cover</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC3E1943-3372-400F-B14C-C1B3AD1121CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Python/automate_the_boringstuff/mapIt.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FD79F961-2CB8-414F-B1C5-0BEDB2711517</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>map</string>
				<key>subtext</key>
				<string>Open in Google Maps</string>
				<key>text</key>
				<string>maps address</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58CAB7A5-E0B0-4437-A72E-012059A6039B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>docx2pdf /Users/josephdespres/Documents/2022_career_exploration/applications/{query}

gs -q -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -sOutputFile=/Users/josephdespres/Documents/2022_career_exploration/applications/{query}/{query}_application.pdf /Users/josephdespres/Documents/2022_career_exploration/applications/{query}/{query}_cover.pdf /Users/josephdespres/Documents/2022_career_exploration/applications/{query}/{query}_resume.pdf

open /Users/josephdespres/Documents/2022_career_exploration/applications/{query}/{query}_application.pdf

/usr/bin/python3 /Users/josephdespres/Documents/2022_career_exploration/automating_scripts/count_apps.py</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>B2E98C47-73D1-4263-B547-C72F1260CE3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pdf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>bind resume and cover to pdf</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D84CF7AD-AAA3-4A72-8B2B-5B488DFCAC37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FC578C2-509A-4E6D-B1B4-9DE4306B193B</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>1D5C3ADD-5F11-497F-B4D3-7241B7DA6BE9</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>2B5CAC89-0B95-4221-9858-813E89FAF498</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>4235259C-B34A-431A-859B-4379553AFFF2</key>
		<dict>
			<key>xpos</key>
			<integer>385</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>4385813A-8A03-4C1A-888A-F3207AF7D379</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>46E790BD-81FA-4700-9440-D4857B50F998</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>4715ECA2-9B58-4C19-A109-861DB7BC2BA0</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>4C814917-922C-4483-BFE1-1815D33608FF</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>4D4BC9AB-116F-4854-A2F8-09CD473584F3</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>53A739ED-763F-45AA-81EA-91CC4C43163E</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>544BCC40-31EF-4267-B78C-FB4A90C4D9E1</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>58CAB7A5-E0B0-4437-A72E-012059A6039B</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>62FC6EE2-2034-4774-A372-594093FD23BC</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>365</integer>
		</dict>
		<key>6E519079-0AAF-4B0E-81BB-03FDC65C5DBD</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>732ABE5D-6525-4992-AB53-1AB806FED1E3</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>77A3390B-720A-4A4E-A266-2D48CC2D12D2</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>535</integer>
		</dict>
		<key>77C5A4D3-EEC1-4D5D-8AA7-FB9FF6FAA0B4</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>7A4AA4C4-7169-4286-A133-AFCC36FDD6CA</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>8A7B732B-86A2-43D7-B677-450019E2F1CB</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8F9F3B98-C595-4EFD-BC09-442323235D6A</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>942DD25E-1BFF-4B1C-A952-B062C8BE931C</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>9B07E609-5778-4F79-944A-BB0A7EC621B0</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9D1C1F89-3AD9-4302-8483-4FDB169CEA11</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>A72CC4B3-8673-4807-B48B-DBE1B9E03A47</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>AD2F5F14-CABC-4F90-864C-E1D96FBC455B</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>B15BF78D-630F-4BC3-B0C9-2E8F0CF736B7</key>
		<dict>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>B2E98C47-73D1-4263-B547-C72F1260CE3C</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>CC3E1943-3372-400F-B14C-C1B3AD1121CA</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>760</integer>
		</dict>
		<key>D84CF7AD-AAA3-4A72-8B2B-5B488DFCAC37</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>880</integer>
		</dict>
		<key>EEA6F57C-38A5-4C3C-8E57-6326CF3F6A2D</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F3EC58FE-7AC0-4FBB-93A4-6A2E5E4EAB29</key>
		<dict>
			<key>xpos</key>
			<integer>775</integer>
			<key>ypos</key>
			<integer>610</integer>
		</dict>
		<key>FD79F961-2CB8-414F-B1C5-0BEDB2711517</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
