<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>working</string>
	<key>connections</key>
	<dict>
		<key>4D226C59-6AA4-417B-8DA3-5EA2CBEE0043</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C64A77C5-F60B-466E-A2EB-82248676025D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C50501EB-CF7F-4B68-BAB2-811D0A6A4CB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D226C59-6AA4-417B-8DA3-5EA2CBEE0043</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Launches Rscripts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Rscripts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/josephdespres/Documents/Side_R_Projects/rFilesToMD.R</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D226C59-6AA4-417B-8DA3-5EA2CBEE0043</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tomarkdown</string>
				<key>subtext</key>
				<string>Updates Obsidian Rcode</string>
				<key>text</key>
				<string>To Markdown</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C50501EB-CF7F-4B68-BAB2-811D0A6A4CB1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>C64A77C5-F60B-466E-A2EB-82248676025D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4D226C59-6AA4-417B-8DA3-5EA2CBEE0043</key>
		<dict>
			<key>xpos</key>
			<integer>610</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C50501EB-CF7F-4B68-BAB2-811D0A6A4CB1</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>C64A77C5-F60B-466E-A2EB-82248676025D</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
